.refister-wrapp{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/760/966/small_2x/abstract-elegant-gold-glowing-with-lighting-effect-sparkle-on-black-background-template-premium-award-design-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}